In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import requests
import yfinance as yf

import pandas as pd
import numpy as np
import datetime

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
# Pandas config
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
FILENAME = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/Aksi_Korporasi_IPO_Tahun_fix.csv'
FOLDER = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df_fileipo = pd.read_csv(FILENAME).drop(columns='Unnamed: 0')
tgl_ipo_dttm = pd.to_datetime(df_fileipo['tanggal_ipo'], format="%Y-%m-%d")
df_fileipo['tanggal_ipo_offset250'] = tgl_ipo_dttm +  pd.to_timedelta(251, unit='d')
df_fileipo.head()

   No.  Kode                      Nama Emiten                     Sektor Tanggal Pencatatan IPO Tanggal Penawaran Awal Harga Penawaran Awal  Harga IPO  Masa Penawaran Umum                        nama  kode tanggal_penawaran_awal tanggal_ipo  diff_days 28_days_date tgl_awal_coalesced  tgl_poin_1 tanggal_ipo_plus_1 tanggal_penawaran_umum    pblcoffr tanggal_penawaran_umum_coalesce tanggal_ipo_offset250
0    1  EMDE    Megapolitan Developments Tbk.   Properties & Real Estate              12-Jan-11       17 - 22 Dec 2010           150 - 250          250      4 - 6 Jan 2011    Megapolitan Developments  EMDE             2010-12-17  2011-01-12       26.0   2010-12-15         2010-12-17  2010-10-01         2011-01-13             2011-01-04  2011-01-04                      2011-01-04            2011-09-20
1    2  MBTO               Martina Berto Tbk.     Consumer Non-Cyclicals              13-Jan-11                   -              650 - 850          740      3 - 7 Jan 2011               Martina Berto  MBTO                    NaN  2011-01-13        NaN   2010-12-16         2010-12-16  2010-09-30         2011-01-14             2011-01-03  2011-01-05                      2011-01-03            2011-09-21
2    3  GIAA  Garuda Indonesia (Persero) Tbk.  Transportation & Logistic              11-Feb-11                   -                    -            750        2-8 Feb 2011         PT Garuda Indonesia  GIAA                    NaN  2011-02-11        NaN   2011-01-14         2011-01-14  2010-10-29         2011-02-12             2011-02-02  2011-02-03                      2011-02-02            2011-10-20
3    4  MBSS  Mitrabahtera Segara Sejati Tbk.                     Energy              06-Apr-11                   -              1500-1900        1.600    29 - 31 Mar 2011  Mitrabahtera Segara Sejati  MBSS                    NaN  2011-04-06        NaN   2011-03-09         2011-03-09  2010-12-22         2011-04-07             2011-03-29  2011-03-29                      2011-03-29            2011-12-13
4    5  SRAJ   Sejahteraraya Anugrahjaya Tbk.                 Healthcare              11-Apr-11                   -                110-130          120        4-6 Apr 2011   Sejahteraraya Anugrahjaya  SRAJ                    NaN  2011-04-11        NaN   2011-03-14         2011-03-14  2010-12-27         2011-04-12             2011-04-04  2011-04-03                      2011-04-04            2011-12-18

# BHAR250

In [ ]:
ipolist = df_fileipo[['kode', 'tanggal_ipo', 'tanggal_ipo_offset250']].T.to_dict()
is_first = True
for ipo in ipolist.values():
  kode = ipo['kode']+'.JK'
  startdate = ipo['tanggal_ipo']
  enddate = ipo['tanggal_ipo_offset250']
  if is_first:
    df = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df['kode'] = ipo['kode']
    df['Volume'] = df['Volume'].fillna(0).astype(np.int64)
    is_first = False
  else:
    df_temp = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df_temp['kode'] = ipo['kode']
    df_temp['Volume'] = df_temp['Volume'].fillna(0).astype(np.int64)
    df = pd.concat([df, df_temp])

Got error from yahoo api for ticker CPGT.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- CPGT.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker NAGA.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- NAGA.JK: No timezone found, symbol may be delisted
KRAH.JK: Data doesn't exist for startDate = 1383843600, endDate = 1405530000
Got error from yahoo api for ticker DAJK.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DAJK.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker FINN.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- FINN.JK: No timezone found, symbol may be delisted
AMOR.JK: Data doesn't exist for startDate = 1578934800, endDate = 1600621200

In [ ]:
DESTFILE = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df.to_csv(DESTFILE+'data_stock_prices.csv')

In [ ]:
pd.read_csv(DESTFILE+'data_stock_prices.csv')

       Unnamed: 0                       Date        Open        High         Low       Close      Volume  Dividends  Stock Splits  kode  Adj Close
0               0  2011-01-12 00:00:00+07:00  202.634872  260.530550  188.160953  202.634872  1254343552        0.0           0.0  EMDE        NaN
1               1  2011-01-13 00:00:00+07:00  207.459503  207.459503  197.810224  207.459503   116914000        0.0           0.0  EMDE        NaN
2               2  2011-01-14 00:00:00+07:00  197.810226  202.634866  192.985587  197.810226    61104500        0.0           0.0  EMDE        NaN
3               3  2011-01-17 00:00:00+07:00  197.810226  202.634866  192.985587  197.810226    28208000        0.0           0.0  EMDE        NaN
4               4  2011-01-18 00:00:00+07:00  197.810226  202.634866  192.020659  197.810226    53715000        0.0           0.0  EMDE        NaN
...           ...                        ...         ...         ...         ...         ...         ...        ...           ...   ...        ...
73227          56  2023-03-06 00:00:00+07:00  426.000000  442.000000  424.000000  432.000000    24069600        0.0           0.0  VTNY        NaN
73228          57  2023-03-07 00:00:00+07:00  432.000000  438.000000  422.000000  438.000000    23587700        0.0           0.0  VTNY        NaN
73229          58  2023-03-08 00:00:00+07:00  438.000000  438.000000  426.000000  434.000000    24196900        0.0           0.0  VTNY        NaN
73230          59  2023-03-09 00:00:00+07:00  432.000000  440.000000  428.000000  436.000000    24364900        0.0           0.0  VTNY        NaN
73231          60  2023-03-10 00:00:00+07:00  436.000000  440.000000  430.000000  436.000000    23073900        0.0           0.0  VTNY        NaN

[73232 rows x 11 columns]

## BHAR250 Refference

In [ ]:
list_kode = ['BSDE',
             'UNVR',
             'GIAA',
             'ADRO',
             'KLBF',
             'BBCA',
             'TPIA',
             'TLKM',
             'SCMA',
             'ASII',
             'DCII',
             'CPGT',
             'DAJK',
             'VICI']

is_first = True
for kd in list_kode:
  kode = kd+'.JK'
  startdate = '2011-01-01'
  enddate = '2023-03-29'
  if is_first:
    df = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df['kode'] = kode
    df['Volume'] = df['Volume'].fillna(0).astype(np.int64)
    is_first = False
  else:
    df_temp = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df_temp['kode'] = kd
    df_temp['Volume'] = df_temp['Volume'].fillna(0).astype(np.int64)
    df = pd.concat([df, df_temp])

Got error from yahoo api for ticker CPGT.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- CPGT.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker DAJK.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DAJK.JK: No timezone found, symbol may be delisted

In [ ]:
DESTFILE = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df.to_csv(DESTFILE+'data_stock_references_bhar.csv')

# Market Condition

In [ ]:
filter_sektor = ['Pulp & Paper', 
                 'Technology',
                 'Consumer Goods Industry',
                 'Transportation']
df_market_cond = df_fileipo[['Kode',
                             'Sektor',
                             'tanggal_ipo']]
df_market_cond['Sektor'] = df_market_cond['Sektor'].str.strip()
df_market_cond = df_market_cond[~df_market_cond['Sektor'].isin(filter_sektor)]
tgl_ipo_dttm = pd.to_datetime(df_market_cond['tanggal_ipo'], format="%Y-%m-%d")
df_market_cond['ipo_h_1'] = tgl_ipo_dttm - pd.to_timedelta(1, unit='d')
df_market_cond['ipo_h_7'] = tgl_ipo_dttm - pd.to_timedelta(7, unit='d')
df_market_cond['ipo_h_59'] = tgl_ipo_dttm - pd.to_timedelta(59, unit='d')
df_market_cond['ipo_h_66'] = tgl_ipo_dttm - pd.to_timedelta(66, unit='d')
df_market_cond.head()

<ipython-input-50-267e5b5ca6c1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_market_cond['Sektor'] = df_market_cond['Sektor'].str.strip()

   Kode                     Sektor tanggal_ipo    ipo_h_1    ipo_h_7   ipo_h_59   ipo_h_66
0  EMDE   Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07
1  MBTO     Consumer Non-Cyclicals  2011-01-13 2011-01-12 2011-01-06 2010-11-15 2010-11-08
2  GIAA  Transportation & Logistic  2011-02-11 2011-02-10 2011-02-04 2010-12-14 2010-12-07
3  MBSS                     Energy  2011-04-06 2011-04-05 2011-03-30 2011-02-06 2011-01-30
4  SRAJ                 Healthcare  2011-04-11 2011-04-10 2011-04-04 2011-02-11 2011-02-04

In [ ]:
df_reff = pd.read_csv(FOLDER+'references_market_condition.csv')\
  .drop(columns='Unnamed: 0')
df_reff.head()

  Sektor Perusahaan              Nama Perusahaan Kode Perusahaan           Sector
0       Barang Baku            Aneka Tambang Tbk            ANTM  Basic Materials
1       Barang Baku   Saranecentral Bajatama Tbk            BAJA  Basic Materials
2       Barang Baku  Bumi Resources Minerals Tbk            BUMI  Basic Materials
3       Barang Baku           Barito Pacific Tbk            BRPT  Basic Materials
4       Barang Baku      Betonjaya Manunggal Tbk            BTON  Basic Materials

In [ ]:
df_ = df_market_cond.merge(df_reff, 
                           left_on = 'Sektor',
                           right_on = 'Sector',
                           how = 'left')
df_.head()

   Kode                    Sektor tanggal_ipo    ipo_h_1    ipo_h_7   ipo_h_59   ipo_h_66 Sektor Perusahaan                   Nama Perusahaan Kode Perusahaan                    Sector
0  EMDE  Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07          Properti           Agung Podomoro Land Tbk            APLN  Properties & Real Estate
1  EMDE  Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07          Properti            Bekasi Asri Pemula Tbk            BAPA  Properties & Real Estate
2  EMDE  Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07          Properti                   Sentul City Tbk            BKSL  Properties & Real Estate
3  EMDE  Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07          Properti           Ciputra Development Tbk            CTRA  Properties & Real Estate
4  EMDE  Properties & Real Estate  2011-01-12 2011-01-11 2011-01-05 2010-11-14 2010-11-07          Properti  Indonesian Paradise Property Tbk            INPP  Properties & Real Estate

In [ ]:
select_col = ['Kode',
              'tanggal_ipo',
              'ipo_h_7',
              'ipo_h_59',
              'ipo_h_66',
              'Kode Perusahaan']
list_kode = df_[select_col].T.to_dict()

is_first = True
for k, v in list_kode.items():
  kode = v['Kode Perusahaan']+'.JK'
  startdate_close = str(v['ipo_h_7'])[0:10]
  enddate_close = v['tanggal_ipo']

  startdate_open = str(v['ipo_h_66'])[0:10]
  enddate_open = str(v['ipo_h_59'])[0:10]
  if is_first:
    df_close = yf.Ticker(kode).history(start=startdate_close, end=enddate_close).reset_index()
    df_close['kode_reff'] = v['Kode Perusahaan']
    df_close['kode'] = v['Kode']
    df_close['Volume'] = df_close['Volume'].fillna(0).astype(np.int64)

    df_open = yf.Ticker(kode).history(start=startdate_open, end=enddate_open).reset_index()
    df_open['kode_reff'] = v['Kode Perusahaan']
    df_open['kode'] = v['Kode']
    df_open['Volume'] = df_open['Volume'].fillna(0).astype(np.int64)
    is_first = False
  else:
    df_temp_c = yf.Ticker(kode).history(start=startdate_close, end=enddate_close).reset_index()
    df_temp_c['kode_reff'] = v['Kode Perusahaan']
    df_temp_c['kode'] = v['Kode']
    df_temp_c['Volume'] = df_temp_c['Volume'].fillna(0).astype(np.int64)
    df_close = pd.concat([df_close, df_temp_c])

    df_temp_o = yf.Ticker(kode).history(start=startdate_open, end=enddate_open).reset_index()
    df_temp_o['kode_reff'] = v['Kode Perusahaan']
    df_temp_o['kode'] = v['Kode']
    df_temp_o['Volume'] = df_temp_o['Volume'].fillna(0).astype(np.int64)
    df_open = pd.concat([df_open, df_temp_o])

df_open.to_csv(FOLDER+'data_market_coditio_oe.csv')
df_close.to_csv(FOLDER+'data_market_coditio_close.csv')

# BHAR 500

In [ ]:
df_fileipo['tanggal_ipo_offset500'] = tgl_ipo_dttm +  pd.to_timedelta(501, unit='d')
df_fileipo[df_fileipo['Kode'] == 'KRAH'].head()

    No.  Kode        Nama Emiten       Sektor Tanggal Pencatatan IPO Tanggal Penawaran Awal Harga Penawaran Awal  Harga IPO   Masa Penawaran Umum           nama  kode tanggal_penawaran_awal tanggal_ipo  diff_days 28_days_date tgl_awal_coalesced  tgl_poin_1 tanggal_ipo_plus_1 tanggal_penawaran_umum    pblcoffr tanggal_penawaran_umum_coalesce tanggal_ipo_offset250 tanggal_ipo_offset500
73   74  KRAH  Grand Kartech Tbk  Industrials              08-Nov-13       10 - 17 Oct 2013           235 - 275          275  30 Oct - 1 Nov 2013  Grand Kartech  KRAH             2013-10-10  2013-11-08       29.0   2013-10-11         2013-10-10  2013-07-25         2013-11-09             2013-10-30  2013-10-31                      2013-10-30            2014-07-17            2015-03-24

In [ ]:
ipolist = df_fileipo[['kode', 'tanggal_ipo', 'tanggal_ipo_offset500']].T.to_dict()
is_first = True
for ipo in ipolist.values():
  kode = ipo['kode']+'.JK'
  startdate = ipo['tanggal_ipo']
  enddate = ipo['tanggal_ipo_offset500']
  if is_first:
    df = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df['kode'] = ipo['kode']
    df['Volume'] = df['Volume'].fillna(0).astype(np.int64)
    is_first = False
  else:
    df_temp = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df_temp['kode'] = ipo['kode']
    df_temp['Volume'] = df_temp['Volume'].fillna(0).astype(np.int64)
    df = pd.concat([df, df_temp])

DESTFILE = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df.to_csv(DESTFILE+'data_stock_prices_bhar500.csv')

Got error from yahoo api for ticker CPGT.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- CPGT.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker NAGA.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- NAGA.JK: No timezone found, symbol may be delisted
KRAH.JK: Data doesn't exist for startDate = 1383843600, endDate = 1427130000
Got error from yahoo api for ticker DAJK.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DAJK.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker FINN.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- FINN.JK: No timezone found, symbol may be delisted

In [ ]:
list_kode = ['BSDE',
             'UNVR',
             'GIAA',
             'ADRO',
             'KLBF',
             'BBCA',
             'TPIA',
             'TLKM',
             'MAPI',
             'ASII',
             'DCII',
             'CPGT',
             'DAJK',
             'VICI']

is_first = True
for kd in list_kode:
  kode = kd+'.JK'
  startdate = '2011-01-01'
  enddate = '2023-05-22'
  if is_first:
    df = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df['kode'] = kode
    df['Volume'] = df['Volume'].fillna(0).astype(np.int64)
    is_first = False
  else:
    df_temp = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df_temp['kode'] = kd
    df_temp['Volume'] = df_temp['Volume'].fillna(0).astype(np.int64)
    df = pd.concat([df, df_temp])

Got error from yahoo api for ticker CPGT.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- CPGT.JK: No timezone found, symbol may be delisted
Got error from yahoo api for ticker DAJK.JK, Error: {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}
- DAJK.JK: No timezone found, symbol may be delisted

In [ ]:
DESTFILE = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df.to_csv(DESTFILE+'data_stock_references_bhar500.csv')

In [14]:
ipolist = df_fileipo[['kode', 'tanggal_ipo']].T.to_dict()
is_first = True
blcklst = ['CPGT','NAGA','DAJK','FINN','AMOR']

for ipo in ipolist.values():
  if ipo['kode'] in blcklst:
    print(ipo['kode'])
    continue
  kode = ipo['kode']+'.JK'
  startdate = ipo['tanggal_ipo']
  enddate = '2023-06-06'
  if is_first:
    df = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df['kode'] = ipo['kode']
    df['Volume'] = df['Volume'].fillna(0).astype(np.int64)
    df = df[df['Stock Splits'] > 0]
    is_first = False
  else:
    df_temp = yf.Ticker(kode).history(start=startdate, end=enddate).reset_index()
    df_temp['kode'] = ipo['kode']
    df_temp['Volume'] = df_temp['Volume'].fillna(0).astype(np.int64)
    df_temp = df_temp[df_temp['Stock Splits'] > 0]
    df = pd.concat([df, df_temp])

DESTFILE = '/content/drive/MyDrive/Freelance/twitter_sentiment_analysis/data_new/'
df.to_csv(DESTFILE+'data_stock_prices_stocksplit.csv')

CPGT
NAGA
DAJK
FINN
AMOR

In [18]:
df = pd.read_csv(DESTFILE+'data_stock_prices_stocksplit.csv')
df[df['kode'] == 'PPRO'].head()

    Unnamed: 0                       Date        Open        High         Low       Close     Volume  Dividends  Stock Splits  kode
27         430  2017-02-15 00:00:00+07:00  305.895020  305.895020  305.895020  305.895020          0        0.0           4.0  PPRO
28         431  2017-02-16 00:00:00+07:00  309.718709  340.308191  309.718709  330.748993  197349843        0.0           4.0  PPRO